<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/IJ/selenium_topic/src/S8"><classes><class name="S8.NewTest"><methods><include name="openbrowser"/><include name="openpage"/><include name="data"/></methods></class><class name="S8.NewTest1"><methods><include name="clickbutton"/><include name="firsttest"/></methods></class><class name="S8.NewTest2"><methods><include name="login"/><include name="inbox"/><include name="logout"/></methods></class></classes></test></suite>